---
import { Image } from 'astro:assets';
import ThemeToggle from './ThemeToggle.astro';
import wpAnchorBayLogo from '../assets/wpanchorbay-logo.svg';
---

<footer class="license-footer">
	<p class="license-footer-kicker">Brought to you by</p>
	<a href="https://wpanchorbay.com/" class="license-footer-logo">
		<Image
			src={wpAnchorBayLogo}
			alt="WPAnchorBay"
			title="WPAnchorBay"
			class="wpanchor-bay-logo"
			width={260}
			height={50}
		/>
	</a>
	<p>
		Revolutionizing and Forging the Future of WordPress with Cutting-Edge,
		State-of-the-Art Plugins Designed Exclusively for WooCommerce.
	</p>
	<a href="https://wpanchorbay.com/">Learn more about WPAnchorBay</a>

	<ThemeToggle />
</footer>
